/**
 * Raleway
================================================================================ */

@font-face {
    font-family: 'raleway-thin';
    src: url('../fonts/raleway_c/Raleway-Thin.eot');
    src: url('../fonts/raleway_c/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway_c/Raleway-Thin.woff') format('woff'),
    url('../fonts/raleway_c/Raleway-Thin.ttf') format('truetype'),
    url('../fonts/raleway_c/Raleway-Thin.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-extra-light';
    src: url('../fonts/raleway_c/Raleway-ExtraLight.eot');
    src: url('../fonts/raleway_c/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway_c/Raleway-ExtraLight.woff') format('woff'),
    url('../fonts/raleway_c/Raleway-ExtraLight.ttf') format('truetype'),
    url('../fonts/raleway_c/Raleway-ExtraLight.svg#ralewayextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-light';
    src: url('../fonts/raleway_c/Raleway-Light.eot');
    src: url('../fonts/raleway_c/Raleway-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway_c/Raleway-Light.woff') format('woff'),
    url('../fonts/raleway_c/Raleway-Light.ttf') format('truetype'),
    url('../fonts/raleway_c/Raleway-Light.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway_c/Raleway-Regular.eot');
    src: url('../fonts/raleway_c/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway_c/Raleway-Regular.woff') format('woff'),
    url('../fonts/raleway_c/Raleway-Regular.ttf') format('truetype'),
    url('../fonts/raleway_c/Raleway-Regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-medium';
    src: url('../fonts/raleway_c/Raleway-Medium.eot');
    src: url('../fonts/raleway_c/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway_c/Raleway-Medium.woff') format('woff'),
    url('../fonts/raleway_c/Raleway-Medium.ttf') format('truetype'),
    url('../fonts/raleway_c/Raleway-Medium.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway_c/Raleway-SemiBold.eot');
    src: url('../fonts/raleway_c/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway_c/Raleway-SemiBold.woff') format('woff'),
    url('../fonts/raleway_c/Raleway-SemiBold.ttf') format('truetype'),
    url('../fonts/raleway_c/Raleway-SemiBold.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway_c/Raleway-Bold.eot');
    src: url('../fonts/raleway_c/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway_c/Raleway-Bold.woff') format('woff'),
    url('../fonts/raleway_c/Raleway-Bold.ttf') format('truetype'),
    url('../fonts/raleway_c/Raleway-Bold.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-heavy';
    src: url('../fonts/raleway_c/Raleway-Black.eot');
    src: url('../fonts/raleway_c/Raleway-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway_c/Raleway-Black.woff') format('woff'),
    url('../fonts/raleway_c/Raleway-Black.ttf') format('truetype'),
    url('../fonts/raleway_c/Raleway-Black.svg#ralewayheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}